.custom-body {
    background-color: #708090;
}

.cust-details {
    padding:10px;
    left: 10px;
}

h3 {
    font-size: 2em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h1, h4, p {
    margin-top: 0.75em;
    text-align: center;
}

.ImageThumbail {
    align-items: center;
    margin-left: 45%;
}

.custom-form {
    background-color:lightsteelblue;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    max-width: 500px;
}

.custom-headerlabel{
    text-align:center;
    font-size: 2em;
    margin-bottom: 0.50em;
    font-weight:bold;
}

.custom-input {
    border-radius: 4px; /* Rounded corners for inputs */
    padding: 5px; /* Padding inside inputs */
    width: 80%; /* Full width inputs */
    margin-left: 10%;
}

.custom-button {
    margin-bottom: 1em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: lightslategray
}