
h1, h4, p {
    margin-top: 20px;
    text-align: center;
}

.ImageThumbail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 500px;
    display:block;
}

.custom-form {
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    align-items: center;
}

.custom-headerlabel{
    text-align:center;
    font-size:x-large;
    margin-bottom: 15px;
    font-weight:bold;
}

.custom-input {
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
}

.custom-button {
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: lightslategray
}