@{
    ViewData["Title"] = "Contact Us";
}

<div>
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Whether you have questions about our application, need technical support, or just want to give feedback, our team is here to help.</p>
</div>
<div>
    <h1>Get in Touch</h1>
    <p>Email: support@custorderpro.com</p>
    <p>Phone: (123) 456-7891</p>
</div>
<div>
    <h4>Office Address</h4>
    <p>CustOrderPro</p>
    <p>123 Business Avenue, Suite 456</p>
    <p>Karachi, Pakistan</p>
</div>