@model IEnumerable<Customer>

<h3>Home</h3>

<div>
    <img class="ImageThumbail" src="~/images/omsLogo.png"/>
    <h1>CustOrderPro</h1>
    <h4>Welcome to Customer Orders Management System</h4>
    <p>We manage our customers and their orders digitally!</p>
</div>



