@{
    ViewData["Title"] = "Home";
}

<div>
    <img class="ImageThumbail" src="~/images/omsLogo.png" />
    <h1>CustOrderPro</h1>
    <h4>Welcome to Customer Orders Management System</h4>
    <p>A modern solution for managing customers and their orders digitally!</p>
</div>



