﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" /-->
    <title>CustomerManagement</title>
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
             <a class="navbar-brand">
                    <img src="~/images/omsLogo.png" height="30" width="30" />
                </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-action="customers" asp-controller="customers" class="nav-link">Customers</a>
                </li>
                <li class="nav-item">
                    <a asp-action="orders" asp-controller="orders" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a asp-action="customerorders" asp-controller="customers" class="nav-link">CustomerOrders</a>
                </li>
            </ul>
        </nav>

        <div>
@RenderBody()
</div>
</div>

    <footer class="footer">
        <div>
            <p> @DateTime.Now.Year Copyright: CustOrderPro</p>
        </div>
    </footer>

         @*@RenderSection("Scripts", required: false);*@


@if(IsSectionDefined("Scripts"))
    {

@RenderSection("Scripts", required: true);
    }
</body>
</html>