﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" /-->
    <title>CustomerManagement</title>
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/vendor.js" asp-append-version="true"></script>
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand">
                <img src="~/images/omsLogo.png" height="30" width="30" />
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-action="about" asp-controller="home" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a asp-action="contact" asp-controller="home" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a asp-action="login" asp-controller="customers" class="nav-link"><i class="fa fa-user"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a asp-action="signup" asp-controller="customers" class="nav-link"><i class="fa fa-user-plus"></i> SignUp</a>
                </li>
            </ul>
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <div>
            <p> @DateTime.Now.Year Copyright: CustOrderPro</p>
        </div>
    </footer>
</body>
</html>