@model IEnumerable<Customer>

@{
    Layout = "_LayoutDashboard";
}

<h3>Customers</h3>

@(Html.DevExtreme().DataGrid<DevExtremeAspNetCoreAppDemo1.Models.Customer>()
        .DataSource(ds => ds.Mvc()
            .Controller("Customers")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .DeleteAction("Delete")
            .Key("Id")
        )
        .RemoteOperations(true)
        .Columns(columns =>
        {
            columns.AddFor(m => m.Id).AllowEditing(false);

            columns.AddFor(m => m.Name);

            columns.AddFor(m => m.Gender);

            columns.AddFor(m => m.Phone);

            columns.AddFor(m => m.Address);

            columns.AddFor(m => m.City);

            columns.AddFor(m => m.Country);
        })
        .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(f => f.Visible(true))
        .Editing(e => e
            .AllowAdding(true)
            .AllowUpdating(true)
            .AllowDeleting(true)
        )
)