@{
    Layout = "_LayoutAdmin";
}

<h3>Dashboard</h3>

<div>
    <img class="ImageThumbail" src="~/images/omsLogo.png" />
    <h1>CustOrderPro</h1>
    <h4>Welcome to Admin's dashboard</h4>
    <p>You have all the privileges to manage customers and their orders</p>
</div>
